<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="/Login_Styles.css" />
  </head>
  <body>
    <form action="/login" method="POST">
      <fieldset>
        <legend>Login Page</legend>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        <button type="submit">Login</button>
        <div class="register-link">
          <label for="register">Don't have an account?</label>
          <a href="/  ">Register here</a>
        </div>
      </fieldset>
    </form>
  </body>
</html>
