<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Page</title>
    <link rel="stylesheet" href="/Profile_Styles.css" />
  </head>
  <body>
    <div class="profile-container">
      <h1><%= user.username %></h1>
      <h1><%= user.email %></h1>
      <img src="<%= user.imageUrl %>" alt="Profile Image" />
      <button><a href="/">Logout</a></button>
    </div>
  </body>
</html>
